body{
    display: flex;
    justify-content: center;
    margin: 5% 0;
}
#board{
    background-color: rgb(234, 205, 62);
    height: 80%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(50,1fr);
    grid-template-rows: repeat(50,1fr);
    position: absolute;
    border: 10px solid rgb(234, 205, 62);
}
#board .snake{
    box-sizing: border-box;
    background-color: rgb(101, 255, 34);
    display: grid;
    position: relative;
    border: 1px solid rgb(27, 120, 13);
    z-index: 10;
}
@keyframes blink {
    from {background-color: rgb(255, 255, 0);}
    to {background-color: rgb(255, 0, 0);}
  }
#frog{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(120, 13, 13);
    display: grid;
    position: relative;
    z-index: 10;
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.warning{
    position: relative;
    font-size: 70px;
    top:50%;
    color: red;
    font-weight: 900;
    animation-name:  game_end;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes game_end {
    from {color: rgb(255, 255, 0);}
    to {color: rgb(255, 0, 0);}
}
#score {
    position: absolute;
    bottom: 1%; /* Adjust this value to position the score element just below the board */
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}